<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sample</title>
  </head>
  <body class="antialiased font-sans px-4 py-8 bg-white">
    <h1 class="text-3xl font-bold underline text-center">
      Hello world!
    </h1>

    <div class="max-w-3xl mx-auto mt-3 space-y-4 flex flex-col items-center justify-start sm:space-y-0 sm:flex-row sm:items-end sm:justify-around">
      <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Button text

        <heroicon class="ml-2 -mr-0.5 h-4 w-4" kind="Solid" name="Mail" />

      </button>
    </div>
  </body>
</html>
